body{
    background-image: linear-gradient(to bottom right,rgb(132, 242, 244),rgb(238, 137, 221));
    padding: 0;
    box-sizing: border-box;
    color: rgb(74, 71, 71);
    font-weight: 400;
    font-size: 18px;
    margin: auto;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

}

header{
    position: fixed;
    height: 100px;
    border-bottom: 1PX solid rgba(128, 128, 128, 0.258);
    display: flex;
    width: 100%;
    padding: 25px;
    background-image: linear-gradient(to bottom right,rgb(132, 242, 244),rgb(238, 137, 221));
    z-index:100;
}

#dftcarousel{
    /* border: 2px solid blue; */
    width: 100%;
}
.carousel-inner{
    /* border: 2px solid rgb(111, 6, 118); */
    width: 98%;
    font-size: 15px;
    margin-top: 100PX;
    background-image: linear-gradient(to bottom right,rgb(132, 242, 244),rgb(238, 137, 221));
}

.carousel{
    /* border: 2px solid rgb(14, 111, 172); */
    display: flex;
    box-shadow: 0 0  3px rgb(109, 105, 105);
    font-size: 13px;
}
.carousel-recipes{
    /* border: 2px solid rgb(15, 16, 15); */
    height: 56px;
    width: 12%;
    display: flex;
    margin: 0.5%;
}

.right-control,
.left-control{
    margin-top: 120px;
    /* border: 2px solid rgb(179, 28, 189); */
    width: 1%;
    height: 40px;
}
.left-carousel-control,
.right-carousel-control{
    color: gray ;
    border: 1px solid rgb(189, 190, 190);
    border-radius: 5px;
    width: 1%;
}

.img-container{
    height: 54px;
    width: 30%;
    cursor: pointer;
    /* border: 2px solid rgb(15, 16, 15);     */
}
.img-container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

a{
    text-decoration: none;
    list-style: none;
    color: rgb(74, 71, 71);
}
a:hover{
    text-decoration: none;
    list-style: none;
    color: rgb(74, 71, 71);

}
.darklight{
    /* background-color: rgb(192, 9, 9); */
    padding-top: 9px;
}
.toggler-darklight{
    background-image: linear-gradient(to bottom right,rgb(238, 137, 221),rgb(132, 242, 244));
    border: none;
    height: 30px;
    width:30px;
    border-radius: 50%;
    cursor: pointer;
}
.toggler-darklight img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding-top: 3
    px;
}

.logo {
    margin-left: 90px;
    height:50px;
    width:150px;
    /* border: 2px solid rgb(197, 24, 24); */
}
.logo img{
    height:100%;
    width:100%;
    /* border: 2px solid rgb(29, 26, 26); */

}    
.navigation{
    /* border: 2px solid rgb(185, 31, 185); */
    width: 75%;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.menu{
    /* border: 2px solid rgb(33, 63, 154); */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    width: 100%;
    
}
.menu li{
    list-style-type: none;
    font-size: 20px;
}
.menu li a{
    color: rgb(74, 67, 67);
    text-decoration: none;
    display: block;
    margin-right: 40px;
    font-size: 18px;
    line-height: 1;
}

.socialicons{
    margin-left: 5%;
    /* border: 2px solid rgb(18, 187, 156); */
    display: flex;
    margin-left: 5%;
    width: 30%;
}    
.socialicons img{
    height: 30px;
    width: 30px;
    margin-right: 10PX;
}


.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
    transition: 0.3s;
    background-color: rgb(28, 27, 27);
}
.hamburger:before,
.hamburger:after{
    content: "";
    position: absolute;  
    height: 4px;
    right: 0;
    background-color: rgb(28, 27, 27);
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before{
    top: -10px;
    width: 30px;
}
.hamburger:after{
    top: 10px;
    width: 30px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.logo-siderbar,
.hamburger,
.toggle-menu{
    display: none;
}
.navigation input:checked ~ .hamburger{
    background: transparent;
}

.navigation input:checked ~ .hamburger:before{
    top: 0;   
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger:after{
    top: 0;   
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked ~ .menu{
    right: 0;
}


.about-shortdetail,.form-control{
    background-image: linear-gradient(to bottom right,rgb(132, 242, 244),rgb(238, 137, 221));

}


.my-dark{
    background-image: linear-gradient(to bottom right,rgb(31, 2, 33),rgb(70, 26, 7));
    color: white;
    .recipe-title{
    color: white;
    }
    .navdark,.carousel-inner, .about-shortdetail,.form-control,.navigation input:checked ~ .menu{
        background-image: linear-gradient(to bottom right,rgb(31, 2, 33),rgb(70, 26, 7));
        color: white;
    }
  
    .menu a{
        color: white;
    }
    .hamburger{
       
        background-color: rgb(237, 234, 234);
    }
    .hamburger:before,
    .hamburger:after{        
        background-color: rgb(244, 238, 238);
     
    }
    .toggler-darklight{
        background-image: linear-gradient(to bottom right,rgb(98, 13, 104),rgb(245, 85, 45));
    
    }
  

}
.toggler-icon{
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.toggler-icon img{
    height: 35px;
    width: 35px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.darklightbtn{
    border: none;
    border-radius: 50%;
}

.maincontainer{
    /* border: 5px solid rgb(44, 18, 192); */
    margin: 2%;
    width: 96%;
}

.store{
    /* border: 2px solid rgb(38, 192, 18); */
    width: 75%;
    margin-left: 13%;
}

.mycookbooksheading{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 2em;
    color: #515555;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.content-container{
    /* border: 2px solid rgb(18, 192, 99); */
    width: 100%;
    display: flex;
}

.container-ebook{
    /* border: 2px solid rgb(215, 24, 196); */
    width: 70%;
}

.heading-video{
    font-size: 25px;
    color: #515555;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.video-container,iframe{
    width: 90%;
    height: 350px;
}
.aboutme{
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.875;
}

.advertisement{
    border: 1px solid rgb(238, 137, 221);
    height: 350px;
    align-self: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.loader{
    height: 50px;
    width: 50px;
    border: 5px solid #e3e3e3;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 45%;    
    border-right-color: #b87b6a;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.subscribe-detail{
    border: 2px solid rgba(180, 180, 180, 0.845);
    width: 95%;
    margin: 1rem;
    border-radius: 5px;
}

.subscribe-p,
.form-check{

    text-align: center;
    width: 100%;
    margin: 0.5em 0 0.5em;
    font-size: 1em;
    line-height: 1.5em;
}

.row{
    /* border: 2px solid rgba(59, 40, 203, 0.845); */
    width: 95%;
    margin-left: 3%;
    margin-right: 2%;
}

.form-control{    
    height: 40px;
    width: 100%;
}

.form-group{
    width: 80%;
}
#email{
    font-size: 14px;

}
.form-sbtn,.btn{
    width: 100px;
    /* border: 2px solid rgba(59, 40, 203, 0.845); */
    font-size: 18px;

}

.form-check{
    margin-top: 10px;
    font-size: 12px;
}

.btn{
    background-color: #ba4e2f;
    color: white;
}

form{
    width: 100%;
    display: inline;
    flex-wrap: wrap;
}

.recipeslink{
    color: #ba4e2f;
}

.aboutme-image{
    /* border: 2px solid rgb(50, 31, 220); */
    width: auto;
    height: auto;   
    margin-top: 2%;
    margin-bottom: 2%;
}

.aboutme-image img{
    width: auto;
    height: auto;   
}

.wantmore{
    color: #ba4e2f;
}

.disclosure{
    color: #515555;
    line-height: 2.3;
}

.pdisclosure{
    line-height: 1.875;
}

.shortdetails-recommended{
    display: block;
    width: 30%;
    margin-top: 0;
    line-height: 5;
}

.shortdetails-container{
    border: 1px solid rgb(238, 137, 221);
    width: 100%;
    background-image: linear-gradient(to bottom right,rgb(132, 242, 244),rgb(238, 137, 221));
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 10PX;
}

.shortmyimage{
    /* border: 2px solid rgb(24, 215, 135); */
    height: 270px; 
    margin-top: 10%;
    width: 100%;
 }

.shortmyimage img{
    width:70%;
    height: 200px;     
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 15%;
    /* border: 2px solid rgb(24, 215, 135); */
}

.shortmytext{
    font-size: 15px;
    width: 96%;
    margin: 3%;
    margin-top: 3%;
    /* border: 2px solid rgb(24, 215, 135); */
    line-height: 2.5rem;
}

.hi{
    font-weight: 500;
}

.findme{
    /* border: 2px solid rgb(69, 24, 215); */
    color:#ba4e2f;
}

.learnmore{
    /* border: 2px solid rgb(69, 24, 215); */
    text-align: center;
    color:#ba4e2f;
}

footer{
    /* border: 2px solid   green; */
    align-items: center;
}

.backtotop{
    width: 100%;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 3.5%;
}

.privacy-signup{
    /* border: 2px solid   green; */
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.ppolicy,
.signup,
.faq{
    width: 45%;
    /* border: 2px solid rgba(0, 19, 128, 0.882); */
    text-align: center;
}

.copyright{
    width: 100%;
    font-size: 18px;
    text-align: center;    
}

.crdft{
    font-weight: 500;
}

.copy{
    height: 100px;
    margin: 2%;
    /* border: 2px solid rgba(0, 19, 128, 0.882); */
}


@media screen and (max-width:1300px){
    body{
        /* background-color: #2de859; */
    }
    .carousel-inner{
        width: 97%;
        margin-left: 3px;

    }
    .left-control{    
        width: 1%;
        width: 1%;
    }
}

@media screen and (max-width:1040px){
    .my-dark{
        .menu{
            right: -350px;
            background-image: linear-gradient(to bottom right,rgb(31, 2, 33),rgb(70, 26, 7));
        }  
    }
    #dftcarousel{
        visibility: hidden;
    }
    .logo {
        height:60px;
        width:200px;
    }
    .logo-siderbar,   
    .hamburger,
    .toggle-menu{
        display: block;
    }  
    header{
        /* padding: 10px 20px; */
    }
    .logo-siderbar {
        padding-right: 70px;
        padding-top:65px
        /* border: 1px solid green; */
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -350px;
        background-image: linear-gradient(to bottom right,rgb(132, 242, 244),rgb(238, 137, 221));
        border: 1px solid gray;
        width: 350px;
        height: 100%;
        padding-top: 20px;     
           
    }
    .menu li{
        width: 100%;
    }
    .menu li a,
    .menu li a:hover{
        padding: 20px;
        font-size: 20px;
        /* box-shadow: 0 1px 0 gray; */
    }
    .socialicons{
        margin-top: 50px;
        float: left;
        /* box-shadow: 0 1px 0 rgb(86, 83, 83); */
        width: 100%;

    }
    .carousel-inner{
        width: 96%;
        margin-left: 6px;

    }
    .left-control{    
        width: 1%;
    }
}

@media screen and (max-width:1500px) {
    body{
        /* background-color: #4e5507; */
    }
    .store{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width:1400px) {
    body{
        /* background-color: #daec0c; */
    }
    .store{
        width: 84%;
        margin-left: 8%;
    }
}

@media screen and (max-width:1300px) {
    body{
        /* background-color: #7f1818; */
    }
    .store{
        width: 88%;
        margin-left: 6%;
    }
}

@media screen and (max-width:1200px) {
    body{
        /* background-color: #ec207b; */
    }
    .store{
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width:1100px) {
    body{
        /* background-color: #50f7c2; */
    }
    .store{
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width:1000px) {
    body{
        /* background-color: #3c4e5f; */
    }
    .store{
        width: 80%;
        margin-left: 10%;
    }
    .content-container{        
        display: block;
    }
    .container-ebook{
        width: 100%;
    }
    .shortdetails-recommended{
        display: block;
        width: 100%;
    }
    .shortmyimage{
        height: 450px; 
        width: 70%;
        margin-left: 5%;
    }
    .shortmyimage img{
        width:100%;
        height: 100%;     
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .shortmytext{        
        margin-top: 10%;
    }
}

@media screen and (max-width:900px) {
    body{
        /* background-color: #e8460c; */
    }
    .store{
        width: 84%;
        margin-left: 7%;
    }
    .subscribe-detail{
        width: 100%;
        margin: 1rem;
        margin-right: 0;
        margin-left: 0;
    }
}  

@media screen and (max-width:800px) {
    body{
        /* background-color: #eea3e9; */
    }
    .store{
        width: 87%;
        margin-left: 6%;
    }
    .bookcontainer{
        width: 100%; 
    }
    .aboutme-image{
        width: 100%;
        height: 850px;   
    }
    .aboutme-image img{
        width: 100%;
        height: 850px;   
    }
    .subscribe-detail{
        width: 100%;
        margin: 2rem;
        margin-right: 0;
        margin-left: 0;
    }
    
}

@media screen and (max-width:700px) {
    body{
        /* background-color: #22780a; */
    }
    .logo {
        height:60px;
        width:250px;
    }
    .store{
        width: 90%;
        margin-left: 5%;
    }
    .form-group,
    .form-sbtn{
        /* border: 5px solid green; */
        width: 100%;
    }
    .form-control{
        width: 100%;
    }
    .btn{
        margin-top: 2%;
        width: 100%;
    }
    .shortmyimage{
        height: 350px; 
        width: 70%;
        margin-left: 5%;
    }
    .shortmyimage img{
        width:100%;
        height: 100%;     
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .aboutme-image{
        height: 750px;   
    }
    .aboutme-image img{
        height: 750px;   
    }
    .privacy-signup{
        display: block;
    }
    .ppolicy,
    .signup,
    .faq{
        width: 100%;
        text-align: center;
    }
    .carousel-inner{
        width: 93%;
        margin-left: 12px;

    }
    .left-control{    
        width: 1%;
    }
}

@media screen and (max-width:600px) {
    body{
        /* background-color: #cd1f61; */
    }
    .logo {
        height:60px;
        width:300px;
        margin-left: 5%;
    }
    .store{
        width: 90%;
        margin: 5%;
    }
    .aboutme-image{
        height: 650px;   
    }
    .aboutme-image img{
        height: 650px;   
    }
    .loader{    
        margin-top: 30%;
        margin-left: 45%;   
    }
}

@media screen and (max-width:500px) {
    body{
        /* background-color: #5fbcc3; */
    }
    .store{
        width: 90%;
        margin: 5%;
    }
    .video-container,iframe{
        width: 90%;
        height: 250px;
    }
    .loader{    
        margin-top: 35%;
        margin-left: 45%;   
    }
    .navigation input:checked ~ .menu{
        right: -80px;
    }
    footer,.copyright{
        font-size: 15px;
    }
}
@media screen and (max-width:400px) {
    .loader{    
        margin-top: 45%;
        margin-left: 45%;   
    }
}